[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-widget-tweaks = "*"
pillow = "10.2.0"

[dev-packages]

[requires]
python_version = "3.11"
