{% extends 'base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
Invalid verify - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_page'%}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock name %}

{% block container %}
<div class="content-bloc">
    <!-- Error confirmation -->
    <br>
    <h3>Invalid verifycation</h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 m-auto">
                <p>Verify link is'nt correct, try log in again</p>
                <a href="{% url 'login' %}" style="color: rgb(46, 48, 47)"><h5>Log in</h5></a>
            </div>
        </div>
    </div>
</div>
{% endblock container %}