{% extends 'base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
Sign in - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_page'%}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock name %}

{% block container %}
<div class="content-bloc">
    <!-- Login form -->
    <br>
    <h1>Sign in</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6 m-auto justify-content-center">
                <form method="post" action="{% url 'login' %}">
                    {% for error in form.non_field_errors %}
                    <div class="row">
                        <div class="col">
                            <span>{{ error }}</span></div>
                    </div>
                    {% endfor %}
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                {{ field.label_tag }}
                                <p>{{ field }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if form.errors %}
                    <p>
                        <a href="{% url 'password_reset' %}" style="color: rgb(110, 110, 110)">
                        <small>Forgot password?</small>
                        </a>
                    </p>
                    {% endif %}
                    <button type="submit" class="btn btn-outline-dark custom-btn">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock container %}