{% extends 'base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
Reset password - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_page'%}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock name %}

{% block container %}
<div class="content-bloc">
    <!-- Password reset form -->
    <br>
    <h2>Enter new password</h2>
    {% if validlink %}
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6 m-auto">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="mb-3 field-password1">
                                {{ form.new_password1.errors }}
                                <p style="margin: 0;"><label for="id_new_password1">New password:</label></p>
                                
                                {{ form.new_password1 }}
                            </div>
                            <div class="mb-3 field-password2">
                                {{ form.new_password1.errors }}
                                <p style="margin: 0;"><label for="id_new_password2">Confirm password:</label></p>
                                {{ form.new_password2 }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-dark custom-btn">Change my password</button>
                </form>
                {% else %}
                <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock container %}