{% extends 'base_page.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static '/style.css' %}" />
{% endblock %}
{% block title %}
  Change password - Lampovo
{% endblock %}

{% block name %}
  <a href="{% url 'main_page' %}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock %}

{% block container %}
  <div class="content-bloc">
    <!-- Password change done -->
    <br />
    <div class="container">
      <div class="row">
        <div class="col-12 m-auto">
          <h2>Password changed successfully</h2>
          <p>
            <a href="{% url 'user' %}">Return to profile</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
