{% extends 'base_page.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static '/style.css' %}" />
{% endblock %}
{% block title %}
  Reset password - Lampovo
{% endblock %}

{% block name %}
  <a href="{% url 'main_page' %}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock %}

{% block container %}
  <div class="content-bloc">
    <!-- Password reset form -->
    <br />
    <h2>Reset password</h2>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-6 m-auto">
          <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {% for field in form %}
              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    {{ field.label_tag }}
                    <p>{{ field }}</p>
                    {% if field.errors %}
                      <div class="text-danger">
                        {% for error in field.errors %}
                          <small>{{ error }}</small>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-dark custom-btn">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
