{% extends 'base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
Reset password - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_page'%}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock name %}

{% block container %}
<div class="content-bloc" style="border-top: 1px solid rgb(46, 48, 47); text-align: center;">
    <!-- Password reset form -->
    <br>
    <h3>Password reset sent</h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 m-auto">
                <p>We`ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don`t receive an email, please make sure you`ve entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
</div>
{% endblock container %}