{% extends 'base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
{{ user.username }} - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_page'%}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock name %}

{% block container %}
<div class="content-bloc mb-3">
    <!-- Main content -->
    <br>
    <h1>User page</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <span>{{ user.username }}</span><br>
                <span>{{ user.password }}</span><br>
                <span>{{ user.email }}</span><br>
                <span>{{ user.first_name }}</span><br>
                <span>{{ user.last_name }}</span><br>
                <span>{{ user.email_verify }}</span><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'logout' %}">Log out</a>
            </div>
        </div>
    </div>
</div>
{% endblock container %}