{% extends 'base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
{{ user.username }} - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_page'%}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock name %}

{% block container %}
<div class="content-bloc mb-3">
    <!-- Main content -->
    <br>
    <h1>User page</h1>
    <br>
<!-- Start user block -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <h3>{{ user.username }}</h3>
            </div>
            <div class="row">
                <span>{{ user.email }}</span>
            </div>
            <div class="row mt-3">
                <span><a href="{% url 'logout' %}" class="btn btn-white"><small>Log out</small></a></span>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:50%" class="text-start">Personal information</th>
                        <th style="width:50%" class="text-end me-3"></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-start">First name</td>
                    <td class="text-end me-3">{% if user.first_name %}{{ user.first_name }}{% else %}{% endif %}</td>
                </tr>
                <tr>
                    <td class="text-start">Last name</td>
                    <td class="text-end me-3">{% if user.last_name %}{{ user.last_name }}{% else %}{% endif %}</td>
                </tr>
                <tr>
                    <td class="text-start">Phone number</td>
                    <td class="text-end me-3">{% if user.phone_number %}{{ user.phone_number }}{% else %}{% endif %}</td>
                </tr>
                </tbody>
            </table>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th style="width:50%" class="text-start">Shipping information</th>
                        <th style="width:50%" class="text-end me-3"></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-start">Country</td>
                    <td class="text-end me-3">{% if user.country %}{{ user.country }}{% else %}{% endif %}</td>
                </tr>
                <tr>
                    <td class="text-start">City</td>
                    <td class="text-end me-3">{% if user.city %}{{ user.city }}{% else %}{% endif %}</td>
                </tr>
                <tr>
                    <td class="text-start">ZIP code</td>
                    <td class="text-end me-3">{% if user.zip %}{{ user.zip }}{% else %}{% endif %}</td>
                </tr>
                <tr>
                    <td class="text-start">Address</td>
                    <td class="text-end me-3">{% if user.address %}{{ user.address }}{% else %}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="col">
                <a href="{% url 'edit' %}" class="btn btn-white" style="width: 180px;"><small>Edit Profile</small></a>
            </div>
            <div class="col mt-2">
                <a href="{% url 'password_reset' %}" class="btn btn-white" style="width: 180px;"><small>Change Password</small></a>
            </div>
        </div>
    </div>
</div>

<!-- Title line -->
<div class="container">
    <div class="col line">YOUR ORDERS</div>
</div>

<!-- User orders list -->
{% if orders %}
<div class="container mt-1 mb-5">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            {% for order in orders %}
            <div class="card text-center mt-4" style="border-radius: 3px;">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-4 text-start">
                        Order ID: <strong>{{ order.id }} </strong>
                    </div>
                    <div class="col-md-4 text-center">
                        {{ order.created }}
                    </div>
                    <div class="col-md-4 text-end">
                        Status: <strong>{{ order.order_status }} </strong>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:50%" class="text-start">Product</th>
                                <th style="width:25%" class="text-end me-3">Quantity</th>
                                <th style="width:25%" class="text-end me-3">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in order.order_items %}
                        <tr>
                            <td class="text-start">{{ item.product }}</td>
                            <td class="text-end me-3">{{ item.quantity }}</td>
                            <td class="text-end me-3">{{ item.subtotal_price }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-end">
                  <strong>Total: {{ order.total_price }}$</strong>
                </div>
              </div>
              {% endfor %}
        </div>
    </div>
</div>
<!-- End user block -->
{% else %}
    <br>
    <h3>You have no orders yet.</h3>
    <br>
{% endif %}
{% endblock container %}