{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lampovo shop</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <header>
        <h1>Lampovo</h1>
        <nav>
            <ul>
                <li><a href="#">Головна</a></li>
                <li><a href="#">Про нас</a></li>
                <li><a href="#">Контакти</a></li>
            </ul>
        </nav>
    </header>

    <div class="general-container">
        <div class="container top-container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class="Title">Незабаром відкриття нашого магазину June 30, 2023<br>
                    Залишайте ваш емейл, щоб бути першим, хто про це дізнається</h3>
                    <div class="col-lg-4 col-lg-offset-4">
                        <form action="" method="post" class="form-inline">
                            {% csrf_token %}
                            <div class="form-group">
                                <p><input type="email" class="form-control" placeholder="E-mail" name="{{ form.email.name }}"></p>
                            </div>
                            <div class="form-group">
                                <p><input class="form-control"  placeholder="Name" name="{{ form.name.name }}"></p>
                            </div>
                            <button type="submit" class="btn btn-primary btn-color">Відправити</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>© 2023 Мій веб-сайт. Усі права захищені.</p>
    </footer>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
