{% extends 'sales_base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
Orders - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_sales'%}" style="color: rgb(46, 48, 47);">Admin tools</a>
{% endblock name %}

{% block container %}
<div class="content-bloc">
    <br>
    <h1>Orders</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mt-2">
                <h6><strong>Filters:</strong></h6>
                <form method="get">
                    {% for field in form %}
                    <div class="text-start mt-3">{{ field.label }}:</div>
                    <div class="row" style="height: 28px;">{{ field }}</div>
                    {% endfor %}
                    <button type="submit" class="btn btn-dark mt-3">Submit</button>
                </form>
            </div>
            <div class="col-md-9 m-auto">
                <table class="table table-striped text-start">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Created</th>
                            <th>Customer</th>
                            <th>Total Price</th>
                            <th>Order Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td><a href="{% url 'order_details' order.order_id %}"><strong>{{ order.order_id }}</strong></a></td>
                                <td>{{ order.formatted_datetime }}</td>
                                <td>{{ order.customer }}</td>
                                <td>{{ order.total_price }}</td>
                                <td>{{ order.get_status_display }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">No orders found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock container %}