{% extends 'sales_base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
Admin tools - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_sales'%}" style="color: rgb(46, 48, 47);">Admin tools</a>
{% endblock name %}

{% block container %}
<div class="content-bloc">
    <!-- Order details block -->
    <br>
    <h2>Order details</h2>
    <br>
    <div class="container">
        <div class="row">
            <!-- Nav bar -->
            <div class="col-md-2">
                <h5>Navigation:</h5>
                <div>
                    <button type="" class="btn card-btn-style mt-3">Some cool link</button>
                </div>
                <div>
                    <button type="" class="btn card-btn-style mt-3">Some cool link</button>
                </div>
                <div>
                    <button type="" class="btn card-btn-style mt-3">Some cool link</button>
                </div>
            </div>
            <!-- Main order info -->
            <div class="col-md-7 ms-auto">
                <!-- Order info table -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Created</th>
                        <th>Customer</th>
                        <th>Total Price</th>
                        <th>Order status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ order.order_id }}</td>
                        <td>{{ order.formatted_datetime }}</td>
                        <td>{{ order.customer }}</td>
                        <td>{{ order.total_price }}</td>
                        <td>{{ order.get_status_display }}</td>
                    </tr>
                    </tbody>
                </table>
                <!-- Order comment table -->
                <table class="table table-striped text-start">
                    <thead>
                    <tr>
                        <th>Order comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ order.comment }}</td>
                    </tr>
                    </tbody>
                </table>
                <!-- Title line -->
                    <div class="row">
                        <div class="col line text-uppercase">Order items</div>
                    </div>
                <!-- Order items table -->
                <table class="table table-striped mt-2">
                    <thead>
                    <tr>
                        <th>Order item</th>
                        <th>Quantity</th>
                        <th>Subtotal price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order_items %}
                    <tr>
                        <td><a href="#">{{ item.product }}</a></td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.subtotal_price }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Title line -->
                <div class="row">
                    <div class="col line text-uppercase">Contact and shipping info</div>
                </div>
                <!-- User info tables -->
                <table class="table table-striped mt-2">
                    <thead>
                        <tr>
                            <th style="width:50%" class="text-start">Personal information</th>
                            <th style="width:50%" class="text-end me-3"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-start">First name</td>
                        <td class="text-end me-3">{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td class="text-start">Last name</td>
                        <td class="text-end me-3">{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td class="text-start">Phone number</td>
                        <td class="text-end me-3">{{ user.phone_number }}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th style="width:50%" class="text-start">Shipping information</th>
                            <th style="width:50%" class="text-end me-3"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-start">Country</td>
                        <td class="text-end me-3">{{ user.country }}</td>
                    </tr>
                    <tr>
                        <td class="text-start">City</td>
                        <td class="text-end me-3">{{ user.city }}</td>
                    </tr>
                    <tr>
                        <td class="text-start">ZIP code</td>
                        <td class="text-end me-3">{{ user.zip }}</td>
                    </tr>
                    <tr>
                        <td class="text-start">Address</td>
                        <td class="text-end me-3">{{ user.address }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- Order status form -->
            <div class="col-md-2 ms-auto">
                <h5>Change status:</h5>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="mt-3">{{ form.order_status.label }}:</div>
                    <div class="row" style="height: 28px;">{{ form.order_status }}</div>
                    <div class="mt-3">Confirm changes {{ form.order_confirm}}</div>
                    <button type="submit" class="btn btn-dark mt-3">Apply changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock container %}