{% extends 'base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
Order - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_page'%}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock name %}

{% block container %}
<div class="content-bloc" style="border-top: 1px solid rgb(46, 48, 47); text-align: center;">
    <br>
    <h1>Order information</h1>
    <br>
    {% if message %}
    {{ message }}
    <br>
    <a href="{% url 'product_list' %}" class="btn btn-outline-dark custom-btn mt-3">Continue shopping</a>
</div>
{% else %}
<!-- Cart items table -->
<div class="container d-flex cart-container">
    <div class="row">
        <div class="col-11 col-md-8 m-auto">
            <table id="shoppingCart" class="table table-condensed table-responsive">
                <thead>
                <tr>
                    <th style="width:55%">Product</th>
                    <th style="width:15%">Price</th>
                    <th style="width:15%">Quantity</th>
                    <th style="width:15%">Subtotal</th>
                </tr>
                </thead>
                <tbody>
                {% for product in cart_products %}
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-md-3 text-left">
                                <img src="{% if product.main_image %}{{ product.main_image.url }}
                                {% else %}{% static 'img/no_image.png' %}{% endif %}"
                                     alt="main_image"
                                     class="img-fluid d-none d-md-block mb-2 shadow">
                            </div>
                            <div class="col-md-9 text-left mt-sm-2">
                                <a href="{{ product.get_absolute_url }}"><h6>{{ product.name }}</h6></a>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">$ {{ product.price }}</td>
                    <td data-th="Quantity" class="text-center">{{ product.quantity }}</td>
                    <td data-th="Total">$ {{ product.total_item_price }}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<!-- Total sum and back to cart -->
<div class="container cart-container">
    <div class="row">
        <div class="col-5 col-md-4 m-auto">
            <a href="{% url 'cart:cart_detail' %}" class="back-link">
                <h6><i class="fas fa-arrow-left mr-2"></i> Back to cart</h6></a>
        </div>
        <div class="col-5 col-md-4 m-auto">
            <span><h4>Total: {{ total_price }}$</h4></span>
        </div>
    </div>
</div>
<!-- Shipping information form -->
<div class="content-bloc" style="border-top: 0;">
    <br>
    <h2>Shipping information</h2>
    <br>
</div>


{{ order_form.country }}



<!-- Django form -->
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                {% for field in order_form %}
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <span class="text-start">{{ field.label_tag }}</span>
                            <br>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <button type="submit" class=" btn btn-outline-dark custom-btn">Submit</button>
            </form>
        </div>
        </div>
    </div>
</div>


{% endif %}
{% endblock container %}