{% extends 'base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
Checkout - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_page'%}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock name %}

{% block container %}
<div class="content-bloc" style="border-top: 1px solid rgb(46, 48, 47); text-align: center;">
    <br>
    <h1>Checkout</h1>
    <br>

    <div class="container">
        <form method="post" action="{% url 'checkout' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        {{ order_form.shipping.label_tag }}
                        {{ order_form.shipping }}
                    </div>
                </div>
            </div>
            <button type="submit" class=" btn btn-outline-dark custom-btn">Submit</button>
        </form>
    </div>
</div>

<div class="container d-flex cart-container">
    <div class="row">
        <div class="col-11 col-md-8 m-auto">
            <table id="shoppingCart" class="table table-condensed table-responsive">
                <thead>
                <tr>
                    <th style="width:55%">Product</th>
                    <th style="width:15%">Price</th>
                    <th style="width:15%">Quantity</th>
                    <th style="width:15%">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for product in cart_products %}
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-md-3 text-left">
                                <img src="{% if product.main_image %}{{ product.main_image.url }}
                                {% else %}{% static 'img/no_image.png' %}{% endif %}"
                                     alt="main_image"
                                     class="img-thumbnail d-none d-md-block mb-2 shadow">
                            </div>
                            <div class="col-md-9 text-left mt-sm-2">
                                <a href="{{ product.get_absolute_url }}"><h6>{{ product.name }}</h6></a>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">$ {{ product.price }}</td>
                    <td data-th="Quantity" class="text-center">{{ product.quantity }}</td>
                    <td data-th="Total">$ {{ product.total_item_price }}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock container %}