{% extends 'base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
Order - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_page'%}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock name %}

{% block container %}
<div class="content-bloc">
    <br>
    <h1>Order information</h1>
    <br>

<!-- Cart no items -->
    {% if message %}
    {{ message }}
    <br>
    <a href="{% url 'product_list' %}" class="btn btn-outline-dark custom-btn mt-3">Continue shopping</a>
</div>
{% else %}

<!-- Cart items table -->
<div class="container d-flex cart-container">
    <div class="row">
        <div class="col-11 col-md-8 m-auto">
            <table id="shoppingCart" class="table table-condensed table-responsive">
                <thead>
                <tr>
                    <th style="width:55%">Product</th>
                    <th style="width:15%">Price</th>
                    <th style="width:15%">Quantity</th>
                    <th style="width:15%">Subtotal</th>
                </tr>
                </thead>
                <tbody>
                {% for product in cart_products %}
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-md-3 text-left">
                                <img src="{% if product.main_image %}{{ product.main_image.url }}
                                {% else %}{% static 'img/no_image.png' %}{% endif %}"
                                     alt="main_image"
                                     class="img-fluid d-none d-md-block mb-2 shadow">
                            </div>
                            <div class="col-md-9 text-left mt-sm-2">
                                <a href="{{ product.url }}"><h6>{{ product.name }}</h6></a>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">$ {{ product.price }}</td>
                    <td data-th="Quantity" class="text-center">{{ product.quantity }}</td>
                    <td data-th="Subtotal">$ {{ product.total_item_price }}</td>
                </tr>
                </tbody>
                
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<!-- Total sum and back to cart -->
<div class="container cart-container">
    <div class="row">
        <div class="col-5 col-md-4 m-auto">
            <a href="{% url 'cart:cart_detail' %}" class="back-link">
                <h6><i class="fas fa-arrow-left mr-2"></i> Back to cart</h6></a>
        </div>
        <div class="col-5 col-md-4 m-auto">
            <span><h4>Total: {{ total_price }}$</h4></span>
        </div>
    </div>
</div>

<!-- Shipping information form -->
<div class="content-bloc" style="border-top: 0;">
    <br>
    <h2>Shipping information</h2>
    <br>
</div>
<div class="container">
    <form method="post" action="{% url 'checkout' %}">
    {% csrf_token %}
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="row">
                <div class="col">
                    {{ order_form.first_name.label_tag }}
                    {{ order_form.first_name }}
                    {{ order_form.first_name.errors }}
                </div>
                <div class="col">
                    {{ order_form.last_name.label_tag }}
                    {{ order_form.last_name }}
                    {{ order_form.last_name.errors }}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center mt-3">
        <div class="col-md-5">
            <div class="row">
                <div class="col">
                    {{ order_form.phone_number.label_tag }}
                    {{ order_form.phone_number }}
                    {{ order_form.phone_number.errors }}
                </div>
                <div class="col">
                    {{ order_form.country.label_tag }}
                    {{ order_form.country }}
                    {{ order_form.country.errors }}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center mt-3">
        <div class="col-md-5">
            <div class="row">
                <div class="col">
                    {{ order_form.city.label_tag }}
                    {{ order_form.city }}
                    {{ order_form.city.errors }}
                </div>
                <div class="col">
                    {{ order_form.zip.label_tag }}
                    {{ order_form.zip }}
                    {{ order_form.zip.errors }}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center mt-3">
        <div class="col-md-5">
            {{ order_form.address.label_tag }}
            {{ order_form.address }}
            {{ order_form.address.errors }}
        </div>
    </div>
    <div class="row justify-content-md-center mt-3">
        <div class="col-md-5">
            {{ order_form.comment.label_tag }}
            {{ order_form.comment }}
            {{ order_form.comment.errors }}
        </div>
    </div>
    <div class="row justify-content-md-center mt-4 mb-4">
        <div class="col-md-5">
            <button type="submit" class=" btn btn-outline-dark custom-btn w-50">To order</button>
        </div>
    </div>
    </form>
</div>
{% endif %}
{% endblock container %}