{% extends 'base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
Shop - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_page'%}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock name %}

{% block container %}
<div class="content-bloc" style="border-top: 1px solid rgb(46, 48, 47); text-align: center;">
    <br>
    <h1>Lampovo shop</h1>
    <br>
</div>
<div class="container mb-5" style="width: 90%;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
        <div class="col d-flex">
            <div class="card flex-column shop-card">
                <img src="{{ product.main_image.url }}" alt="{{ product.name }}" class="card-img-top" style="border-radius: 2px;">
                <div class="card-body flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="card-footer" style="background-color: white; border: 0; margin-bottom: 10px;">
                    <h5 class="card-title mb-1">Price: {{ product.price }}$</h5>
                    <div class="d-flex justify-content-around" style="flex-wrap: wrap;">
                        <a href="{{ product.get_absolute_url }}" class="btn card-btn-style mt-2"><h5 style="margin: 0;">View details</h5></a>                        
                        <form method="post" action="{% url 'cart:cart_add' product.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit" class="btn card-btn-style mt-2">
                                <h5 style="margin: 0;">Add to cart</h5>
                            </button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock container %}