{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static '/img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/style.css' %}">

    <title>{% block title %}Lampovo{% endblock title %}</title>
</head>
<body>
<div class="page-wrapper">
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row" style="height: 80px; background-color: white">
                        <!-- Page name bloc -->
                        <div class="ps-2 ps-md-4 head-style align-self-center">
                            {% block name %} {% endblock name %}
                        </div>
                        <!-- User head bloc -->
                        {% if user.is_authenticated %}
                        <div class="pe-2 pe-md-4 align-self-center ms-auto">
                            <a href="{% url 'user' %}">
                                <i class="fa-solid fa-user icon-style"></i>
                                <span class="user-style">{{ user.username }}</span>
                            </a>
                        </div>
                        {% else %}
                        <button type="button" class="user-btn pe-2 pe-md-4 align-self-center ms-auto" data-bs-toggle="modal"
                             data-bs-target="#LoginModal">
                            <i class="fa-solid fa-user icon-style"></i>
                            <span class="user-style">Sign in</span>
                        </button>
                        {% endif %}


                        <!-- Modal Login/Register -->
                        <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="LoginModalLabel">Sign in or Register</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div><a href="{% url 'login' %}" class="modal-btn">Sign in</a></div>
                                        <div><a href="{% url 'register' %}" class="modal-btn">Register</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Cart button --> 
                        <div class="pe-2 pe-md-4 align-self-center">
                            <a href="{% url 'cart:cart_detail' %}">
                                <i class="fa-solid fa-cart-shopping icon-style"></i>
                                <span class="user-style">
                                    {% with total_items=cart|length %}
                                    {% if cart|length > 0 %}
                                    {{ total_items }}
                                    {% else %}
                                    0
                                    {% endif %}
                                    {% endwith %}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="wrapper">
        {% block container %}

        <!-- For page content -->

        {% endblock container %}
    </main>

    <footer>
        <!-- Main footer bloc -->
        <div class="footer-style">
            <div class="link-bloc">
                <ul>
                    <li><a href="{% url 'product_list' %}" class="footer-link">Shop</a></li>
                    <li><a href="#" class="footer-link">About us</a></li>
                    <li><a href="#" class="footer-link">Contact</a></li>
                </ul>
            </div>
            <div class="link-bloc">
                <ul>
                    <li><a href="#" class="footer-link">Shipping & Returns</a></li>
                    <li><a href="#" class="footer-link">Store Policy</a></li>
                    <li><a href="#" class="footer-link">Payment Methods</a></li>
                </ul>
            </div>
            <div class="footer-icon-bloc">
                <a href="https://www.instagram.com/l_ampovo/"><img class="footer-icon" src="{% static '/img/icons/instagram.webp' %}" alt="intagram_logo"></a>
                <a href="#"><img class="footer-icon" src="{% static '/img/icons/facebook.webp' %}" alt="facebook_logo"></a>
                <a href="#"><img class="footer-icon" src="{% static '/img/icons/pinterest.webp' %}"
                                 alt="pinterest_logo"></a>
                <a href="#"><img class="footer-icon" src="{% static '/img/icons/youtube.webp' %}"
                                 alt="youtube_logo"></a>
            </div>
        </div>

        <!-- Copyright bloc -->
        <div class="copyright">
            <span>© 2023 by Lampovo | Design & Development by SkyDev | Powered on Django</span>
        </div>
    </footer>
</div>
<script src="{% static 'script.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script src="https://kit.fontawesome.com/9984184d83.js" crossorigin="anonymous"></script>
</body>
</html>