{% extends 'base_page.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/style.css' %}">{% endblock style %}
{% block title %}
Sign in - Lampovo
{% endblock title %}

{% block name %}
<a href="{% url 'main_page'%}" style="color: rgb(46, 48, 47);">Lampovo</a>
{% endblock name %}

{% block container %}
<div class="content-bloc" style="border-top: 1px solid rgb(46, 48, 47); text-align: center;">
    <!-- Login form -->
    <br>
    <h1>Sign in</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6 m-auto">
                <form method="post" action="{% url 'login' %}">
                    {% for error in login_form.non_field_errors %}
                    <div class="row">
                        <div class="col"><h4>{{ error }}</h4></div>
                    </div>
                    {% endfor %}
                    {% csrf_token %}
                    {% for field in login_form %}
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                <p>{{ field }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-outline-dark">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock container %}